@font-face {
    font-family: "Kanit";
    src: url(assets/fonts/Kanit-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit";
    color: #ECEDF0;
}

.App {
    background-color: #404A65;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100vh;
}

.header {
    margin: 20px;
    text-align: center;
}

h1 {
    text-shadow:
        -6px -4px 0 #35383F, 2px -5px 0 #35383F, -6px 4px 0 #35383F, 2px 2px 0 #35383F;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: #fff;
    text-align: center;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.526));
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
    letter-spacing: .04em;
}

.coin_face {
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.flip-btn {
    cursor: pointer;
    padding: 10px 30px; ;
    border-radius: 10px;
    border: none;
    background-color: #1F6FB0;
}

.flip-btn:hover {
    background-color: #155D8B;
}
